* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
}

header {
  background-color: black;
}

li {
  list-style: none;
}

a {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-bottom: solid 0.1em rgb(71, 145, 163);
  font-family: 'Roboto Condensed', sans-serif;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.nav-link {
  transition: 0.2s ease;
}

.nav-link:hover {
  color: rgb(71, 145, 163);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.separator {
  display: block;
  width: 800px;
  height: 1px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.my-name-container {
  padding-top: 40px;
}

.my-name {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.what-i-do-container {
  width: 47vw;
}

.what-i-do {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(182, 182, 182);
}

@media(max-width: 900px) {
  .separator {
    display: block;
    width: 650px;
    height: 1px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  .my-name {
    color: white;
    font-size: 3.8rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .what-i-do {
    font-size: 1rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .what-i-do-container {
    width: 100vw;
  }
}

@media(max-width: 700px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 45px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-branding {
    display: block;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .my-name {
    color: white;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .what-i-do-container {
    width: 100vw;
  }

  .what-i-do {
    font-size: 0.8rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .separator {
    display: block;
    width: 92vw;
    height: 1px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
}