html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: #161616;
}

header {
  background-color: black;
}

li {
  list-style: none;
}

a {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  font-family: 'Roboto Condensed', sans-serif;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.nav-link {
  transition: 0.2s ease;
}

.nav-link:hover {
  color: rgb(71, 145, 163);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.separator {
  display: block;
  width: 800px;
  height: 1px;
  margin: 20px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.section-separator {
  display: block;
  width: 800px;
  height: 1px;
  margin-bottom: 25px;
  margin-top: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.my-name-container {
  padding-top: 40px;
}

.my-name {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.what-i-do-container {
  width: 800px;
}

.what-i-do {
  font-size: 1.02rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(182, 182, 182);
}

.icon {
  color: white;
  font-size: 25px;
  margin: 40px 15px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  color: rgb(71, 145, 163);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* #fswd-reference {
  display: none;
}

#gd-reference {
  display: none;
}

#form-reference {
  display: none;
} */

.fswd-container {
  width: 800px;
  padding: 13px 0;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fswd {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

.strk-container {
  display: flex;
  flex-direction: row;
  width: 800px;
  padding-top: 50px;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.strk {
  padding-right: 30px;
  padding-top: 5px;
  height: 40px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(182, 182, 182);
  text-align: left;
}

.strk-github {
  color: rgb(182, 182, 182);
  padding-top: 5px;
  font-size: 25px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.strk-github:hover {
  color: rgb(140, 112, 61);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.starknights-img-container {
  position: relative;
  width: 800px;
}

.starknights {
  opacity: 1;
  display: block;
  width: 800px;
  height: auto;
  padding: 13px 0;
  text-align: center;
  border-radius: 15px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
}

.starknights:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.strk-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.starknights-img-container:hover .starknights {
  opacity: 0.4;
}

.starknights-img-container:hover .strk-middle {
  opacity: 1;
}

.strk-text {
  border-radius: 8px;
  background-color: rgb(140, 112, 61);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.gd-container {
  width: 800px;
  padding-bottom: 13px;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gd {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

.md-container {
  display: flex;
  flex-direction: row;
  width: 800px;
  padding-top: 50px;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.md {
  padding-right: 30px;
  padding-top: 5px;
  height: 40px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(182, 182, 182);
  text-align: left;
}

.md-github {
  color: rgb(182, 182, 182);
  padding-top: 5px;
  font-size: 25px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.md-github:hover {
  color: rgb(226, 110, 183);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.maskdude-img-container {
  position: relative;
  width: 800px;
}

.maskdude {
  opacity: 1;
  display: block;
  width: 800px;
  height: auto;
  padding: 13px 0;
  text-align: center;
  border-radius: 15px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
}

.maskdude:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.md-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.maskdude-img-container:hover .maskdude {
  opacity: 0.4;
}

.maskdude-img-container:hover .md-middle {
  opacity: 1;
}

.md-text {
  border-radius: 8px;
  background-color: rgb(226, 110, 183);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.ea-container {
  display: flex;
  flex-direction: row;
  width: 800px;
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ea {
  padding-right: 30px;
  padding-top: 5px;
  height: 40px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(182, 182, 182);
  text-align: left;
}

.ea-artstation {
  color: rgb(182, 182, 182);
  padding-top: 5px;
  padding-left: 10px;
  font-size: 25px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ea-artstation:hover {
  color: rgb(53, 195, 223);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.gallery-container {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 150px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0;
  max-width: 800px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery-images img {
  display: block;
  float: left;
  flex: 0 0 auto;
  width: calc(100%/2);
  height: calc(100%/2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#overlay {
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
}

form {
  width: 580px;
  background-color: #3a3a3a;
  padding: 40px;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}

form h1 {
  margin: 0;
  text-align: center;
}

form label {
  display: block;
  margin: 20px 0;
  text-align: left;
}

input,
textarea {
  color: white;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  background-color: #3a3a3a;
  border-bottom: 1px solid #ffffff;
}

.send-message {
  margin-top: 30px;
  width: 90%;
  max-width: 200px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  background-color: rgb(50, 108, 122);
  border-radius: 3px;
  border-bottom: 0px;
}

input[type="text"]:focus,
textarea:focus {
  border-bottom: 1px solid rgb(50, 108, 122);
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgb(50, 108, 122);
}

.error {
  color: red;
}

.error-border {
  border-bottom: 1px solid red;
}

#success {
  padding-top: 3px;
  color: green;
}

@media(max-width: 900px) {
  .separator {
    width: 650px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .section-separator {
    width: 650px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .my-name {
    color: white;
    font-size: 4rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .fswd-container {
    width: 650px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .what-i-do {
    font-size: 1.02rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .what-i-do-container {
    width: 650px;
  }

  .strk-container {
    width: 650px;
  }

  .starknights-img-container {
    width: 650px;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .starknights {
    width: 650px;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .gd-container {
    width: 650px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .md-container {
    width: 650px;
  }

  .maskdude-img-container {
    width: 650px;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .maskdude {
    width: 650px;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .gallery-container {
    width: 650px;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .gallery-images {
    width: 650px;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .gallery-images img {
    width: calc(100%/2);
    height: calc(100%/2);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .ea-container {
    width: 650px;
  }
}

@media(max-width: 700px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 45px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-branding {
    display: block;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .my-name {
    color: white;
    font-size: 4rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .what-i-do-container {
    width: 100vw;
  }

  .what-i-do {
    font-size: 1.02rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .separator {
    width: 92vw;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .section-separator {
    width: 92vw;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .fswd-container {
    width: 92vw;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .fswd {
    font-size: 5vw;
    color: white;
  }

  .strk-container {
    width: 92vw;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .starknights-img-container {
    width: 92vw;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .starknights {
    width: 92vw;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .gd-container {
    width: 92vw;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .gd {
    font-size: 5vw;
    color: white;
  }

  .md-container {
    width: 92vw;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .maskdude-img-container {
    width: 92vw;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .maskdude {
    width: 92vw;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .gallery-container {
    width: 92vw;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .gallery-images {
    width: 92vw;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .gallery-images img {
    width: 92vw;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .ea-container {
    width: 92vw;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  form {
    width: 92vw;
  }
}

@media(max-width: 400px) {
  .my-name {
    color: white;
    font-size: 10vw;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .what-i-do-container {
    width: 90vw;
  }

  .what-i-do {
    font-size: 4vw;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}