<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Santiago Badino Portfolio</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link type="text/css" rel="stylesheet" href="../public/style/style.css">
  <style>
  </style>
</head>

<body>
  <!-- Navigation Bar -->
  <header>
    <nav class="navbar">
      <a href="#" class="nav-branding">SB</a>
      <div></div>
      <ul class="nav-menu">
        <li class="nav-item">
          <a href="#gd-reference" class="nav-link">Game dev</a>
        </li>
        <li class="nav-item">
          <a href="#fswd-reference" class="nav-link">web Dev</a>
        </li>
        <li class="nav-item">
          <a href="#form-reference" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href="https://drive.google.com/file/d/1M4FvKs7prI57E7ev37oAHnooXbkgFsVK/view" class="nav-link">Resume</a>
        </li>
      </ul>
      <div></div>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>
  <!-- End of Navigation Bar -->
  <center>
    <!-- My name -->
    <div class="my-name-container">
      <h1 class="my-name">Santiago Badino</h1>
    </div>
    <div class="what-i-do-container">
      <h2 class="what-i-do">Full stack web developer. Game developer. Environment artist.</h2>
    </div>
    <!-- End of My name -->
    <!-- Social Media -->
    <div class="social-media">
      <a href="https://www.artstation.com/santibadino"><i class="fa-brands fa-artstation icon"></i></a>
      <a href="https://www.artstation.com/santibadino"><i class="fa-brands fa-behance icon"></i></a>
      <a href="https://www.instagram.com/badinoworks/"><i class="fa-brands fa-instagram icon"></i></a>
      <a href="https://www.linkedin.com/in/santiago-badino/"><i class="fa-brands fa-linkedin icon"></i></a>
      <a href="https://github.com/Sbadino"><i class="fa-brands fa-github icon"></i></a>
      <a href="https://gitlab.com/Sbadino"><i class="fa-brands fa-gitlab icon"></i></a>
    </div>
    <!-- End of Social Media -->
    <div id="fswd-reference"></div>
    <hr class="separator">
    <!-- Full Stack Web Developer -->
    <div class="fswd-container">
      <h1 class="fswd">Full Stack Web Developer</h1>
    </div>
    <!-- Starknights -->
    <div class="strk-container">
      <h3 class="strk">Starknights</h3>
      <a href="https://github.com/felipecornejo1/Starknights" class="strk-link-github"><i
          class="fa-brands fa-github strk-github"></i></a>
    </div>
    <div class="starknights-img-container">
      <a href="http://starknights.herokuapp.com/" class="starknights-link">
        <img src="../public/images/Home2.jpg" alt="starknights" class="starknights">
        <div class="strk-middle">
          <div class="strk-text">Starknights</div>
        </div>
      </a>
    </div>
    <!-- End of Starknights -->
    <!-- End of Full Stack Web Developer -->
    <div id="gd-reference"></div>
    <hr class="section-separator">
    <!-- Game Developer -->
    <div class="gd-container">
      <h1 class="gd">Game Developer</h1>
    </div>
    <!-- Mask Dude -->
    <div class="md-container">
      <h3 class="md">Mask Dude</h3>
      <a href="https://gitlab.com/Sbadino/mask-dude" class="md-link-github"><i
          class="fa-brands fa-gitlab md-github"></i></a>
    </div>
    <div class="maskdude-img-container">
      <a href="https://wownemy.itch.io/mask-dude" class="md-link">
        <img src="../public/images/Mask Dude.jpg" alt="maskdude" class="maskdude">
        <div class="md-middle">
          <div class="md-text">Mask Dude</div>
        </div>
      </a>
    </div>
    <!-- End of Mask Dude -->
    <!-- End of Game Developer -->
    <hr class="section-separator">
    <!-- Environment Artist -->
    <div class="gd-container">
      <h1 class="gd">Environment Artist</h1>
    </div>
    <!-- Image Gallery -->
    <div class="ea-container">
      <h3 class="ea">Projects</h3>
      <a href="https://www.artstation.com/santibadino"><i class="fa-brands fa-artstation ea-artstation"></i></a>
      <a href="https://www.instagram.com/badinoworks/"><i class="fa-brands fa-instagram ea-artstation"></i></a>
    </div>
    <div class="gallery-container">
      <div class="gallery-images">
        <img src="../public/images/art/Castle.jpeg" alt="">
        <img src="../public/images/art/Cabin.png" alt="">
        <img src="../public/images/art/Ridge View.jpeg" alt="">
        <img src="../public/images/art/Woods.png" alt="">
        <img src="../public/images/art/Sun Scene.png" alt="">
        <img src="../public/images/art/Stylized.png" alt="">
        <img src="../public/images/art/Dried River.png" alt="">
        <img src="../public/images/art/Dungeon.png" alt="">
        <img src="../public/images/art/Dark.png" alt="">
      </div>
    </div>
    <!-- End of Image Gallery -->
    <!-- End of Environment Artist -->
    <div id="form-reference"></div>
    <div id="overlay">
      <form action="https://formsubmit.co/4f796f5c072f4ec1412a62cded2a4c48" method="POST">
        <h1>Contact Me</h1>

        <label for="name">Name:</label>
        <input name="name" type="text" id="name" placeholder="Your name">
        <small class="error"></small>

        <label for="email">Email:</label>
        <input name="email" type="text" id="email" placeholder="Your email">
        <small class="error"></small>

        <label for="message">Message:</label>
        <textarea name="message" placeholder="Your message" rows="6"></textarea>
        <small class="error"></small>

        <div class="center">
          <input class="send-message" type="submit" value="Send message">
          <p id="success"></p>
        </div>
      </form>
    </div>

  </center>
  <script src="../public/frontEnd/script.js"></script>
</body>

</html>